/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootswatch/spacelab/variables";
 @import "bootstrap";
 @import "bootswatch/spacelab/bootswatch";
 @import "font-awesome";
 @import "animate";

 .container-buffer {
   margin-top: 50px;
 }

 .member-table {
   margin-top: 20px;
 }

 .member-search {
   margin-top: 50px;
   margin-bottom: 50px;
 }

 .new-client {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #dddddd;
 }

 .new-client h2 {
   font-weight: 700;
   color: #426A96;
   margin-top: 5px;
   margin-bottom: 40px;
 }

 .new-client-input {
   margin-top: 15px;
 }

 i.fa.fa-user {
  content: "\f007";
  font-size: 90px;
  color: #F29017;
  background-color: #F5F5F5;
  padding: 17px;
  border-radius: 50%;

}

.member-panel {
  margin: 40px auto;
}

.member-name-panel {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}

.member-form-error {
  color:red;
}

@media (min-width: 992px) {
  .member-panel {
    width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .member-panel {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .member-panel {
    width: 90%;
  }
  .phone-column {
    margin-bottom: 10px;
  }
}

.ng-enter, .ng-move {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.ng-leave {
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}