<div ng-app="app">
  <div class="row member-search">
    <div class="col-md-6">
      <label>Search by First or Last Name</label>
      <input ng-model="nameFilter" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="col-md-6">
      <label for="">Search by Email</label>
      <input ng-model="emailFilter" type="text" class="form-control" placeholder="Email">
    </div>
  </div>
  <div ng-controller="membersCtrl" ng-init="setup()">
    <table class="table table-bordered table-hover member-table">
      <tr class="success
      ">
        <th> Name </th>
        <th> Address </th>
        <th> City </th>
        <th> Email </th>
        <th> Phone </th>
        <th> Membership </th>
      </tr>
      <tr ng-repeat="member in members | filter: nameFilter | filter: cityFilter
      | filter: membershipFilter | filter: emailFilter" >
        <td> {{ member.first_name }} {{ member.last_name }}</td>
        <td> {{ member.street_address }} </td>
        <td> {{ member.city }} </td>
        <td> {{ member.email }} </td>
        <td> {{ member.phone }} </td>
        <td> {{ member.membership }} </td>
      </tr>
    </table>
    <!-- <div class="alert alert-warning alert-dismissible" role="alert" ng-repeat="error in errors">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <li>{{ error }}</li>
    </div> -->
    <div class="new-client">
      <h2>Add New Client</h2>
      <form name="memberForm" novalidate ng-submit="submitForm()">
        <div class="row new-client-input">
          <div class="col-md-4">
            <label>First Name</label>
            <input name="memberFistName" ng-model="newMemberFirstName" type="text" class="form-control" required>
            <div ng-if="submitted || memberForm.memberLastName.$dirty" for="memberForm.memberFistName.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberFistName.$error.required" class="error-show">First Name Required</span>
              <span ng-show="!memberForm.memberFistName.$error.required"> </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Last Name</label>
            <input name="memberLastName" ng-model="newMemberLastName" type="text" class="form-control" required>
            <div ng-if="submitted || memberForm.memberLastName.$dirty" ng-messages="memberForm.memberLastName.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberLastName.$error.required">Last Name Required</span>
              <span ng-show="!memberForm.memberLastName.$error.required"> </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Street Address</label>
            <input name="memberStreetAddress" ng-model="newMemberStreetAddress" type="text" class="form-control" placeholder="123 Main St." required>
            <div ng-if="submitted || memberForm.memberAddress.$dirty" ng-messages="memberForm.memberAddress.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberStreetAddress.$error.required">Street Address Required</span>
              <span ng-show="!memberForm.memberStreetAddress.$error.required"> </span>
            </div>
          </div>
        </div>
        <div class="row new-client-input">
          <div class="col-md-4">
            <label>City</label>
            <input name="memberCity" ng-model="newMemberCity" type="text" class="form-control" required>
            <div ng-if="submitted || memberForm.memberCity.$dirty" ng-messages="memberForm.memberCity.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberCity.$error.required">City Required</span>
              <span ng-show="!memberForm.memberCity.$error.required"> </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>State</label>
            <input name="memberState" ng-model="newMemberState" type="text" class="form-control" required>
            <div ng-if="submitted || memberForm.memberState.$dirty" ng-messages="memberForm.memberState.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberState.$error.required">State Required</span>
              <span ng-show="!memberForm.memberState.$error.required"> </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Zip</label>
            <input name="memberZip" ng-model="newMemberZip" type="text" class="form-control" required>
            <div ng-if="submitted || memberForm.memberZip.$dirty" ng-messages="memberForm.memberZip.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberZip.$error.required">Zip Code Required</span>
              <span ng-show="!memberForm.memberZip.$error.required"> </span>
            </div>
          </div>
        </div>
        <div class="row new-client-input">
          <div class="col-md-4">
            <label>Email</label>
            <input name="memberEmail" ng-model="newMemberEmail" type="text" class="form-control" required>
            <div ng-if="submitted || memberForm.memberEmail.$dirty" ng-messages="memberForm.memberEmail.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberEmail.$error.required">Email Required</span>
              <span ng-show="!memberForm.memberEmail.$error.required"> </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Phone</label>
            <input name="memberPhone" ng-model="newMemberPhone" type="text" class="form-control" placeholder="XXX-XXX-XXXX" required >
            <div ng-if="submitted || memberForm.memberPhone.$dirty" ng-messages="memberForm.memberPhone.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberPhone.$error.required">Phone Required</span>
              <span ng-show="!memberForm.memberPhone.$error.required"> </span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Select Membership</label>
            <select name="memberMembership" ng-model="newMemberMembership" ng-options="membership for membership in memberships" class="form-control" required></select>
            <div ng-if="submitted || memberForm.memberMembership.$dirty" ng-messages="memberForm.memberMembership.$error" class="member-form-error" role="alert">
              <span ng-show="memberForm.memberMembership.$error.required">Membership Required</span>
              <span ng-show="!memberForm.memberMembership.$error.required"> </span>
            </div>
          </div>
        </div>
        <div class="row new-client-input">
          <div class="col-md-3">
            <button ng-click="addNewMember(newMemberFirstName, newMemberLastName, newMemberStreetAddress,
            newMemberCity, newMemberState, newMemberZip, newMemberEmail, newMemberPhone, newMemberMembership)" class="btn btn-default">Create Client</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
